<div class="bg-primary myBanner">
    <div class="container d-flex justify-content-between">
        <h2 class="text-dark">{{ title }}</h2>
        <a href="#" class="btn btn-dark">Retour</a>
    </div>
</div>