<nav role="navigation" class="o-stepbar mb-4">
    <ol>
        <li class="stepbar-item {% if step == 1 %} current {% endif %}">
            <a class="stepbar-link" href="#" title="1. Sign in">Infos Client<a/>
        </li>
        <li class="stepbar-item {% if step == 2 %} current {% endif %}">
            <a class="stepbar-link" href="#" title="2. Review" aria-current="step">Localisation</a>
        </li>
        <li class="stepbar-item {% if step == 3 %} current {% endif %}">
            <a class="stepbar-link" href="#" title="3. Delivery">Eligibilite</a>
        </li>
        <li class="stepbar-item {% if step == 4 %} current {% endif %}">
            <a class="stepbar-link" href="#" title="3. Delivery">Justificatif client</a>
        </li>
        <li class="stepbar-item {% if step == 5 %} current {% endif %}">
            <a class="stepbar-link" href="#" title="3. Delivery">Configuration de l'offre</a>
        </li>
        <li class="stepbar-item {% if step == 6 %} current {% endif %}">
            <a class="stepbar-link" href="#" title="3. Delivery">Paiement</a>
        </li>
    </ol>
</nav>